.list
{
    height:100%;
    width: 100%;  
    border-radius: 17px;
    background-color: #b73939;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.list h1
{
    font-size:25px;
    color:white;
    font-weight: 400;
}
.list .table
{
    width:700px;
   
}
.list .table tr th
{
    height: 10px;
    font-size: 12px;
    text-align: center;
    border-left: 1px solid #3E3C3C;
}
.list .table tr td #approve-button
{
   scale: 0.6;
}